/* PC */

@media (min-width: 64em) {}


/* ======== Tablet and Mobile ======== */

@media (max-width: 63.937em) {
    /* Nav */
    #nav .subnav a {
        padding: 5px 12px;
    }
    /* Button */
    .btn {
        padding: 15px 16px;
    }
    /* Contact info */
    .contact-info {
        line-height: 2;
    }
    /* Contact form */
    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }
    /* Footer */
    #footer .social-list a {
        margin: 0 12px;
    }
    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}


/* ======== Tablet ======== */

@media (min-width: 46.25em) and (min-width: 63.937em) {}


/* Mobile */

@media (max-width: 46.1875em) {
    /* Common */
    .s-mt-8 {
        margin-top: 8px;
    }
    .s-full-width,
    .s-col-full {
        width: 100%;
    }
    /* Header */
    #header {
        overflow: hidden;
    }
    /* Nav */
    #nav {
        display: block;
    }
    #nav>li {
        display: block;
    }
    #nav>li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 40px;
    }
    #nav li a {
        padding: 1 24px;
    }
    /* Button */
    #header .search-btn {
        display: none;
    }
    #header .mobile-menu-btn {
        display: inline-block;
    }
    /* Member */
    #content .member-img {
        width: 60%;
    }
    /* Form */
    .contact-form {
        margin-top: 32px;
    }
}